<div class="form-group row">
						<label class="col-md-3 col-form-label">{{t title}}</label>
						<div class="col-md-9">
							<select class="custom-select form-control" onchange={{action "setSelection" value="target.value"}}>
								<option selected>{{t title}}</option>
							{{#each items as |item|}}
								<option selected={{if (eq value.id item.id) true false}} value={{item.id}}>{{item.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
{{yield}}