
<div class="card-block">
	<h3 class="card-title">{{t tableDefinition.title}}</h3>
	<table id="configurations-table"
		class="table table-striped table-bordered" cellspacing="0"
		width="100%">
		<thead>
			<tr>
				{{#each tableDefinition.columns as | column| }}
				<th>{{t column.title}}</th> {{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each items as | item |}}
			<tr {{action "itemSelected" item}}>
				{{#each tableDefinition.columns as | column |}}
				<td><a href="#">{{get item
					column.property}}</a></td> {{/each}}
			</tr>
			{{/each}}
		</tbody>
	</table>
	<div class="card-footer btn-margins">
		<div class="btn-group">
		{{#if newItem}}
			<button type="button" class="btn btn-md btn-secondary"{{action "newItem"}}>{{t
				"route.common.new" }}</button>
		{{else}}
				{{ai-button-list 
					title="route.common.add"
					items=itemsToAdd
					action=(action "addItem")
				}}
		{{/if}}
			<button type="button" class="btn btn-md btn-secondary"{{action "deleteItem"}}>{{t
				"route.common.delete" }}</button>
			
		</div>
	</div>
</div>


{{yield}}
